@import url('./assets/font/fontface.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }

  * {
    @apply
      duration-300
      font-mainFont
      font-normal;
  }

  *::selection {
    @apply
      bg-secondary
      text-primary;
  }
}

.navbar-item {
  @apply
    h-9
    w-9
  text-primary
    rounded-2xl
    backdrop-blur-lg
    cursor-pointer
    hover:opacity-100
    p-1.5
}

.navbar-item-active {
  @apply
    bg-secondary
      opacity-100
      rounded-full;
}

.search-input {
  @apply
    outline-none
    rounded-full
    shadow-sm
    bg-white
    p-2
    w-full
    ps-10
    pe-4
    focus:outline-none
    focus:shadow-md;
}

.search-bar {
  z-index: 99999;
}

.card {
  @apply
    my-3
    p-2
    flex
  bg-white
    rounded-2xl
    shadow-md;
}

.text-input {
  @apply
    outline-none
    rounded-full
    shadow-sm
    bg-white
    p-2
    w-full
    px-4
    focus:outline-none
    focus:shadow-md;
}

.click:active {
  @apply
    scale-95
    shadow-none;
}